---
import DefaultHead from "../components/DefaultHead.astro";
import Navigation from "../components/Navigation.astro";
---

<html lang="ja">
	<DefaultHead title="Blog" />
	<body>
        <Navigation />
        <h1>私の行った場所、作ったもの</h1>
        <p>ここには、私が行った場所、作ったものを投稿します。</p>
        <a href={`${import.meta.env.BASE_URL}posts/ns-business-plan-contest/`}>N/S起業部ビジネスプランコンテスト2024に参加してきました！</a>
	</body>
</html>
