---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
---

<html lang="en">
	<head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
	</head>
	<body>
        <Navigation />
        <h1>supurazako</h1>
        <img src="/src/images/tomatokun.png" alt="icon" />
	</body>
</html>
