---
import "../styles/global.css";

// import Welcome from '../components/Welcome.astro';
// import Layout from '../layouts/Layout.astro';
import DefaultHead from "../components/DefaultHead.astro";
import Navigation from '../components/Navigation.astro';
import WorksComponent from '../components/WorksComponent.astro';
---

<html lang="ja">
	<head>
        <DefaultHead title="Portfolio" />
	</head>
	<body>
        <Navigation />
        <div class="md:flex items-start flex-row-reverse container pt-3">
            <img class="p-4 " src={`${import.meta.env.BASE_URL}tomatokun.png`} alt="icon" />
            <div class="flex-1 text-left bg-blue-100 p-4">
                <p class="text-red-500">Name: Miyamoto Naoyuki</p>
                <p>Location: Japan, Sapporo</p>
                <p>Affilication: Department of System Infomation, Hokkaido Information University</p>
                <p>Languages: Java, JavaScript, TypeScript, Arduino</p>
                <p>Frameworks: React, Node.js, springframework</p>
                <ul>Accounts:
                    <li>X: <a href="https://x.com/Msprzk">Msprzk</a></li>
                    <li>Github: <a href="https://github.com/supurazako">supurazako</a></li>
                </ul>
                <h2>Interests</h2>
                <ul>
                    <li>Web開発</li>
                    <li>IoT</li>
                    <li>セキュリティ</li>
                    <li>ソフトウェア開発</li>
                </ul>
                <WorksComponent />
                <h2>contact: mnaoyuki0228 at gmail.com</h2>
            </div>
        </div>
	</body>
</html>
