---
import "../styles/global.css";

import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
---

<html lang="ja">
	<head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
	</head>
	<body>
        <Navigation />
        <img src="/src/images/tomatokun.png" alt="icon" />
        <p class="text-red-500">Name: Miyamoto Naoyuki</p>
        <p>Location: Japan, Sapporo</p>
        <p>Affilication: N High School</p>
        <p>Language: Java, JavaScript, TypeScript</p>
        <h2>興味分野</h2>
        <ul>
            <li>Web開発</li>
            <li>電子工作</li>
            <li>セキュリティ</li>
            <li>ソフトウェア開発</li>
        </ul>
        <h2>個人開発</h2>
	</body>
</html>
