---
import DefaultHead from "../components/DefaultHead.astro";
import Navigation from "../components/Navigation.astro";
import WorksComponent from "../components/WorksComponent.astro";
---

<html lang="ja">
<DefaultHead title="Works" />
    <body>
        <Navigation />
        <WorksComponent />
    </body>
</html>
