---
import '../styles/global.css';
---

<div class="w-full bg-blue-500 p-4">
    <a class="text-white" href={`${import.meta.env.BASE_URL}`}>Home</a>
    <a class="text-white" href={`${import.meta.env.BASE_URL}blog/`}>Blog</a>
    <a class="text-white" href={`${import.meta.env.BASE_URL}works/`}>Works</a>
</div>
