---
import '../styles/global.css';
---

<div class="w-full bg-blue-500 p-4">
    <a class="text-white" href={`${import.meta.env.BASE_URL}/`}>Home</a>
    <a class="text-white" href={`${import.meta.env.BASE_URL}blog/`}>Blog</a>
    <a class="text-white" href={`${import.meta.env.BASE_URL}posts/ns-business-plan-contest/`}>N/S起業部 ビジネスプランコンテスト2024に参加してきました！</a>
</div>
