---
import '../styles/global.css';
---

<h1>Works</h1>
<h2>// Co-develop</h2>
<div>
    <h3>Styraly(開発中)</h3>
    <p>「つながらないSNS」がキャッチコピーのクローズドなSNSです。繋がりすぎる時代に、少ないつながりを提供します。</p>
    <p>使用技術: Java(Spring Framework)</p>
</div>
<div>
    <h3>nicomado</h3>
    <img src={`${import.meta.env.BASE_URL}nicomado-image.png`} alt="nicomado image" width="600" height="200" />
    <p>Website: <a href="https://nicomado.com" target="_blank" rel="noopener noreferrer">nicomado</a></p>
    <p class="p-0">YouTube、Twitchなどの動画やストリーミングを、一画面で同時に複数再生できるサイト。友人との二人チームで制作しています。</p>
    <p>使用技術: React Router v7, React, TypeScript, CSS, Cloudflare Worker</p>
</div>
<h2>// Personal</h2>
<div>
    <h3>おにや配信通知bot</h3>
    <p>X <a href="https://x.com/oniya_stream" target="_blank" rel="noopener noreferrer">@oniya_stream</a></p>
    <p>おにやさんの配信を通知するbotです。Xアカウント, Discord, Mailで動作しています。</p>
    <p>使用技術: Node.js, AWS EC2, GAS</p>
<div />
